<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <header>
        <%- include("../partials/nav") %>
    </header>

    <main class="container">
        <div class="jumbotron">
            <h1>Home Page</h1>
            <p>Practicing EJS</p>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>